a {
    text-decoration: none;
}

.clickable {
    cursor: pointer;
}

.markdown-body {
    color: inherit;
}

.dark {
    .markdown-body {
        pre {
            background-color: #424242;
        }
    }
}

.screen-center {
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    width: 460px;
}

.p-right-bottom {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

.field-static {
    padding-top: 18px;
}
